@import "tailwindcss";

[data-theme="theme-xyz"] {
  --header-height: 43.5px;
  --color-bg: #fffaf0;
  --color-primary: #000;
  --color-secondary: #ff8c71;
  --color-hover: #333;
  --color-accent: #ff8c71;
  --color-red: #ff0000;
  --color-bleu: #77b5fe;

  /* v1 colors palette */
  --color-black: #000000;

  --color-gray-50: #dde0de;
  --color-gray-100: #c5c5c5;

  --color-blue-50: #92b8cc;
  --color-blue-100: #77b5fe;
  --color-blue-200: #0000ed;

  --color-red-50: #ff8c71;
  --color-red-100: #ff4b65;

  --color-pink-50: #ff8df4;
  --color-pink-100: #ff47f2;

  --color-lime-100: #a1b200;
  --color-green-100: #268b09;

  --color-yellow-100: #ffff24;
  --color-purple-100: #8c4def;

  --font-primary:
    "FormaDJRDisplay-Medium-Testing", "Helvetica Neue", "HelveticaNeueRoman",
    "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular",
    "Helvetica", "Arial", sans-serif;
  --font-primary-b:
    "FormaDJRDisplay-Bold-Testing", "Helvetica Neue", "HelveticaNeueRoman",
    "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular",
    "Helvetica", "Arial", sans-serif;

  --spacing-md: 1.25rem; /*20px */
  --spacing-lg: 1.875rem; /*30px */
  --spacing-xl: 3.75rem; /*60px */
  --spacing-2xl: 6.25rem; /*100px */

  --text-md-mobile: 1rem;

  /*
  Et oui desktop : taille 30 px / interlignage 28 px / interlettrage 20px
mobile : taille 17 px / interlignage 16 px / interlettrage 20px
  */
  /* --text-sm: 0.75rem;
  --text-md: 1.063rem;
  --text-lg: 1.875rem;  */
  --text-xs: 0.75rem; /* 12px */
  --text-base: 1rem; /* 16px */
  --text-sm: 1.25rem; /* 20px*/
  --text-md: 1.875rem; /* 30px*/
  --text-lg: 3.75rem; /* 60px*/

  --cubic: cubic-bezier(0.87, 0, 0.13, 1);

  /* --text-xl: clamp(26px, 5.21vw, 75px);*/
  --border-width--mobile: 0.125rem;
  --border-width: 0.188rem;
  --border: var(--border-width) solid;

  --radius-xs: 0.313rem; /* 5px */
  --radius: 1.25rem; /* 20px */

  --gutter: 1.25rem;

  --screen-sm: 768px;
  --screen-md: 1080px;
  --screen-lg: 1441px;

  --text-max-w: 62.5rem;
}

@theme inline {
  --color-bg: var(--color-bg);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-hover: var(--color-hover);
  --color-accent: var(--color-accent);
  --color-red: var(--color-red);

  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);

  --spacing-xs: var(--spacing-xs);
  --spacing-sm: var(--spacing-sm);
  --spacing-md: var(--spacing-md);
  --spacing-lg: var(--spacing-lg);
  --spacing-xl: var(--spacing-xl);
  --spacing-2xl: var(--spacing-2xl);

  --text-md-mobile: var(--text-md-mobile);

  --text-xs: var(--text-xs);
  --text-base: var(--text-base);
  --text-sm: var(--text-sm);
  --text-md: var(--text-md);
  --text-lg: var(--text-lg);

  --cubic: var(--cubic);

  --border-width: var(--border-width);
  --border: var(--border);
  --border-width-lg: var(--border-width-lg);
  --border-lg: var(--border-lg);

  --radius: var(--radius);
  --radius-xs: var(--radius-xs);

  --gutter: var(--gutter);

  --screen-sm: var(--screen-sm);
  --screen-md: var(--screen-md);
  --screen-lg: var(--screen-lg);
}
